.datestyle {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 100%; 
  text-align: right;
}

.datestyle p{
  text-decoration: underline;
  margin-bottom: 0%;
}

.datestyle a{
  margin-left: 93%;
  margin-top: none;

}

.datestyle input[type="text"] {
  border: none;
  border-bottom: solid  black;
  outline: none;
  text-align: center;
  width: auto;
}

.tablea {
    width: auto;
    height: auto;
    border:none;
}

.column{
  width: auto;
  margin-left: 30px;
  float: left;
  text-align: center;
  font-size: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column input[checkbox] {
  outline-color: red;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}


  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new i {
  margin-right: 4px;
}
  table.table {
      table-layout: fixed;
  }
  table.table tr th, table.table tr td {
      border-color: #e9e9e9;
  }
  table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  table.table th:last-child {
      width: 100px;
  }
  table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }    
table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #FFC107;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
table.table td a.add i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }    
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

body {
  color: #404E67;
  background: #F5F7FA;
font-family: 'Open Sans', sans-serif;
}
